/* App.css hoặc index.css */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* đẩy footer xuống đáy */
}
