.product-page {
  display: grid;
  grid-template-columns: 80px 1fr 420px;
  gap: 30px;
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 20px;
}

/* THUMBNAILS */
.thumbs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbs img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #ddd;
  cursor: pointer;
}

.thumbs img.active {
  border: 2px solid black;
}

/* MAIN IMAGE */
.image-view img {
  width: 100%;
  height: 680px;
  object-fit: cover;
}

/* INFO */
.info h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.sku {
  color: #666;
  font-size: 13px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin: 16px 0;
}

/* COLORS */
.colors {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.colors span {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
}

.colors span.selected {
  border-color: black;
}

/* SIZES */

.sizes {
  display: flex;
  align-items: center;   
  gap: 12px;
  margin-bottom: 16px;
}

.sizes button {
  min-width: 48px;
  height: 38px;

  border: 1px solid #ccc;
  border-radius: 6px;

  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 500;

  display: flex;          
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.sizes button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}



/* ACTIONS */
.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  padding: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.actions button:first-child {
  background: black;
  color: white;
}

.buy-now {
  background: #b11226;
  color: white;
}

.stock {
  margin-top: 15px;
  color: #555;
}
